*~
.*~
lstTel_ana/hist.root
lstTel_ana/histSingle.root
data_sim/
lstTel-build
lstTel_ana/obj/
lstTel_ana/runlstana
lstTel_ana/histSingle_180theta_179theta_0phi_xxmx_0my_all.pdf
lstTel_ana/histSingle_lstTel_179.5theta_0phi_0mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_1mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_2mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_3mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_4mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_5mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_6mx_0my.root
lstTel_ana/histSingle_lstTel_179.5theta_0phi_7mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_0mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_0mx_7my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_0mx_7my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_0mx_m7my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_0mx_m7my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_1mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_2mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_3mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_4mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_5mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_5mx_5my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_5mx_5my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_5mx_m5my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_5mx_m5my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_6mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_7mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_7mx_0my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_m5mx_5my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_m5mx_5my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_m5mx_m5my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_m5mx_m5my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_m7mx_0my.root
lstTel_ana/histSingle_lstTel_179theta_0phi_m7mx_0my.root.pdf
lstTel_ana/histSingle_lstTel_179theta_0phi_xxmx_xxmy.all.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_0mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_0mx_7my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_0mx_7my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_0mx_m7my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_0mx_m7my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_1mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_2mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_3mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_4mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_5mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_5mx_5my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_5mx_5my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_5mx_m5my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_5mx_m5my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_6mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_7mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_7mx_0my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_m5mx_5my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_m5mx_5my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_m5mx_m5my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_m5mx_m5my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_m7mx_0my.root
lstTel_ana/histSingle_lstTel_180theta_0phi_m7mx_0my.root.pdf
lstTel_ana/histSingle_lstTel_180theta_0phi_xxmx_xxmy.all.pdf
lstTel_ana/info.log
lstTel_ana/l
lstTel_ana/tmp/